/* Stylesheet */
/* Style inspired by w3schools */
/* https://www.w3schools.com/howto/tryhow_css_parallax_demo.htm */

@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display'); /* Imports fonts from google */

* { /* Removes all browser-default margin and padding - maintains consistency accross all browsers */
    margin: 0px;
	padding: 0px;
}

body, html {
  height: 100%; /* Body takes up 100% of window size */
  text-align: center; /* Aligns elements to center */
  font: 400 15px/1.8 "Lato", sans-serif; /* Sets default font + sizing */
  font-size: 25px; /* Sets font size of unspecified elements */
}

h1 {
  letter-spacing: 5px; /* Sets spacing between letters */
  text-transform: uppercase; /* Converts text to uppercase */
}

h2 {
  letter-spacing: 5px; /* Sets spacing between letters */
  text-transform: uppercase; /* Converts text to uppercase */
}

h3 {
  letter-spacing: 5px; /* Sets spacing between letters */
  text-transform: uppercase; /* Converts text to uppercase */
  font-size: 20px; /* Sets font size */
}

p {
  color: #777; /* Sets color of text */
  display: block; /* Sets how element will be formatted */
  margin-block-start: 1em; /* Sets the distance between the element and the next, scales with font size */
  margin-block-end: 1em; /* Sets the distance between the element and the next, scales with font size */
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 15px; /* Sets font size */
}

.content-container {
  background: #fff; /* Sets background color */
  padding: 50px 80px; /* Sets padding of top/bottom then left/right */
  z-index: 2; /* Sets the element 2 layers above the neutral layer (where everything unspecified is) */
  text-align: justify; /* Each side of text has equal amount of distance between edges */
}

.span-header {
  font-size: 25px; /* Sets font size */
  letter-spacing: 10px; /* Sets spacing between letters */
  color: #fff; /* Sets foreground (text) color */
  background-color: #111; /* Sets fill (background) color */
  padding: 25px; /* Distance between content and edges of element */
  text-transform: uppercase; /* Converts text to uppercase */
}

.parallax {
  padding-top: 250px; /* Sets distance between content and top edge of element */
  height: 250px; /* Sets element height */
  background-attachment: fixed; /* Background will not scroll with the page */
  background-position: center; /* Background image centered */
  background-repeat: no-repeat; /* Background will not repeat if unable to fill page */
  background-size: cover; /* Background big enough to cover entire page */
}

.parallax-start {
  height: 75%; /* Sets height to 75% of window size */
}

.low-contrast {
  filter: contrast(50%); /* Sets contrast to 50% */
  -webkit-filter: contrast(50%); /* Sets contrast to 50% (for safari 5.1 - 9.0) */
}

.picture1 {
  background-image: url('Images/Picture1.jpg'); /* Sets background image */  
}

.picture2 {
	background-image: url("Images/Picture2.jpg"); /* Sets background image */  
}