/* Stylesheet */
/* Made + Commented by Thomas Broughton */

/* Padding adds distance between border and content */
/* Margin adds distance between the two elements */
/* Padding and margin goes in order top, right, bottom, left */
/* CONTENT --> PADDING --> BORDER --> MARGIN */

@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather'); /* Imports fonts from google */

* { /* Removes all browser-default margin and padding - maintains consistency accross all browsers */
    margin: 0px;
	padding: 0px;
}

body, html {
  height: 100%; /* Body takes up 100% of window size */
  text-align: center; /* Aligns elements to center */
  font: 400 1vw/1.8 "Lato", sans-serif; /* Sets default font + sizing */
  scroll-behavior: smooth; /* Makes href scroll transitions smoother */
}

.navbar {
  letter-spacing: 5px; /* Sets spacing between letters */
  font-weight: bold; /* Forces font to be bold */
  text-transform: uppercase; /* Converts text to uppercase */
  font-size: 15px; /* Sets font size */
  overflow: hidden; /* Hides any contant that extends past its boundaries */
  background-color: #fff; /* Sets background colour to #fff */
  z-index: 1; /* Arranges content to be one layer above everything by default unless specified (which is by default 0) */
}

.navbar a:hover { /* Styling for when the element is being hovered over */
  background-color: #474747; /* Sets background colour of element */
  color: #fff; /* Sets foreground colour of element (text-colour) */
}

.navbar a{
  display: inline-block; /* Sets the display positioning to act like a block (cannot overlap) */
  text-align: center; /* Aligns the text to the center of the element */
  padding: 10px 50px 10px 50px; /* Adds space between the content and the border of the container */
}

.sticky {
  position: fixed; /* Position of the element is fixed to the browser viewport. Element will not move when scrolled */
  top: 0; /* Element is positioned 0 pixels away from the top of the viewport */
  width: 100%; /* Element is 100% of the viewport's width */
}

.navbarToggle {
  width: 100%; /* Sets width of element to max of it's parent */
  text-align: right; /* Aligns the text to the right hand side */
  box-sizing: border-box; /* Sizes the element */
  background-color: #fff; /* Sets the background colour */
  color: black; /* Sets foreground colour */
  padding: 10px; /* Distance between border and content */
  display: none; /* Does not display */
}

.menu {
  font-size: 10vw;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1400px) {
  body {
    font: 400 1.5vw/1.8 "Lato", sans-serif; /* Sets default font + sizing */
  }
 }

@media screen and (max-width: 900px) { /* Styling used when browser size is smaller than set amount of pixels */ 
  body {
    font: 400 5vw/1.8 "Lato", sans-serif; /* Sets default font + sizing */
  }
  
  .navbarToggle {
    display: block; /* Display of element takes up one line */
	transition: 0.3s; /* Transition time */
	
	user-select: none; /* User cannot select text */
   -webkit-user-select: none; /* User cannot select text */
   -khtml-user-select: none; /* User cannot select text */
   -moz-user-select: none; /* User cannot select text */
   -ms-user-select: none; /* User cannot select text */
  }
  
  .navbarToggle:hover {
    background-color: #474747; /* Sets background colour of element */
    color: #fff; /* Sets foreground colour of element (text-colour) */
  }
  
  .navbar a {
	display: none; /* Sets the display positioning to act like a block (cannot overlap) */
  }
}

@media screen and (max-width: 900px) {
  .navbar.responsive {
    position: relative;
  }
  
  .navbar.responsive a {
    display: block;
  }
}

h1 {
  font-size: 50px; /* Sets font size */
  letter-spacing: 10px; /* Sets spacing between letters */
  color: #fff; /* Sets foreground (text) color */
  background-color: #111; /* Sets fill (background) color */
  padding: 25px 50px; /* Distance between content and edges of element */
  text-transform: uppercase; /* Converts text to uppercase */
  display: inline /* Sets the display to be inline with the previous elements (if there is enough space) */
}

h2 {
  letter-spacing: 15px; /* Sets spacing between letters */
  text-transform: uppercase; /* Converts text to uppercase */
  display: inline block; /* Displays the element in line with other elements (if there is space). However, it cannot overlap other elements */
  margin: 35px 0px 5px 0px; /* Sets the gap between this element and others */
}

h3 {
  letter-spacing: 5px; /* Sets spacing between letters */
  text-transform: uppercase; /* Converts text to uppercase */
  font-size: 25px; /* Sets font size */
}

h4 {
  letter-spacing: 5px; /* Sets spacing between letters */
  text-transform: uppercase; /* Converts text to uppercase */
  font-size: 20px; /* Sets font size */
}

h5 {
  letter-spacing: 5px; /* Sets spacing between letters */
  text-transform: uppercase; /* Converts text to uppercase */
  font-size: 15px; /* Sets font size */
}

h6 {
  letter-spacing: 1px; /* Sets spacing between letters */
  text-transform: uppercase; /* Converts text to uppercase */
  font-size: 12px; /* Sets font size */
}

p, li, td {
  color: #777; /* Sets color of text */
  display: block; /* Sets how element will be formatted */
  margin-block-start: 1em; /* Sets the distance between the element and the next, scales with font size */
  margin-block-end: 1em; /* Sets the distance between the element and the next, scales with font size */
  margin-inline-start: 0px; /* Sets the start of inline margins */
  margin-inline-end: 0px; /* Sets the end of inline margins */
}

table {
  width: 100%;
}

td {
  display: table-cell; /* Sets how element will be formatted */
  padding: 3px 16px 3px 0; /* Distance between content and border */
  width: 10%; /* Element width */
}

b {
  font-size: 15px;
  text-transform: uppercase; /* Converts text to uppercase */
  letter-spacing: 3px; /* Sets spacing between letters */
}

a {
  text-decoration: none; /* No decoration from outside sources */
  color: #000; /* Sets colour of text to be black (overwrites the purple and blue colours of the text) */
}

.content-container {
  background: #fff; /* Sets background color */
  padding: 50px 80px; /* Sets padding of top/bottom then left/right */
  z-index: 2; /* Sets the element 2 layers above the neutral layer (where everything unspecified is) */
  text-align: justify; /* Each side of text has equal amount of distance between edges */
}

.span-header {
  font-size: 25px; /* Sets font size */
  letter-spacing: 10px; /* Sets spacing between letters */
  color: #fff; /* Sets foreground (text) color */
  background-color: #111; /* Sets fill (background) color */
  padding: 25px; /* Distance between content and edges of element */
  text-transform: uppercase; /* Converts text to uppercase */
}

.parallax {
  padding-top: 25vh; /* Sets distance between content and top edge of element */
  padding-bottom: 25vh; /* Sets distance between content and bottom edge of element */
  background-attachment: fixed; /* Background will not scroll with the page */
  background-position: center; /* Background image centered */
  background-repeat: no-repeat; /* Background will not repeat if unable to fill page */
  background-size: cover; /* Background big enough to cover entire page */
}

.parallax-java {
  padding-top: 25vh; /* Sets distance between content and top edge of element */
  padding-bottom: 25vh; /* Sets distance between content and bottom edge of element */
  background-position: center; /* Background image centered */
  background-repeat: no-repeat; /* Background will not repeat if unable to fill page */
  background-size: cover; /* Background big enough to cover entire page */
  height: 100% /* Sets element height to 100% of it's parent height */
}

.parallax-start {
  height: 50%; /* Sets height to 50% of window size */
}

.low-contrast {
  filter: contrast(50%); /* Sets contrast to 50% */
  -webkit-filter: contrast(50%); /* Sets contrast to 50% (for safari 5.1 - 9.0) */
}

.link-button {
  height: 5vh; /* Sets height to 5% of the viewport height */
}

.picture1 {
  background-image: url('Images/Picture1.jpg'); /* Sets background image */
}

.picture2 {
  background-image: url("Images/Picture2.jpg"); /* Sets background image */
}

.picture3 {
  background-image: url("Images/Picture3.jpg"); /* Sets background image */
}

.slideshow-container {
  position: relative; /* Position is relative to it's parent */
  margin: 0 auto; /* Margin automatically determined */
}

.slideshow {
  display: none; /* Nothing will be displayed */
}

.dot {
  height: 15px; /* Height of element */
  width: 15px; /* Width of element */
  margin: 0 2px; /* Gap between elements */
  background-color: #bbb; /* Colour of background */
  border-radius: 50%; /* How round the element border is */
  display: inline-block; /* Display positioning of element */
  transition: background-color 0.6s ease; /* How long it takes for the styling of the element to change */
}

.active {
  background-color: #717171; /* Background colour when dot it changed to active */
}

.fade {
  -webkit-animation-name: fade; /* Gets animation style from webkit */
  -webkit-animation-duration: 3s; /* Length of fade from webkit */
  animation-name: fade; /* Gets animation style */
  animation-duration: 3s; /* Length of fade*/
}

@-webkit-keyframes fade {
  from {opacity: .0} /* Starting opacity of fade */
  to {opacity: 1} /* Ending opacity of fade */
}

@keyframes fade {
  from {opacity: .0} /* Starting opacity of fade */
  to {opacity: 1} /* Ending opacity of fade */
}

.driverProfile {
  height: 100%; /* Sets div height to be 75% of it's parent height */
  margin: 16px auto; /* Center aligns div */
  display: inline-block; /* Positions and displays element as if it was a block */
}

.profileInfo {
  
}

#driverPic {
  margin: 10px 16px 15px 0; /* Gap between elements */
  width: 25%; /* How wide the element is (as long as it doesn't exceed max-width) */
  display: block;
  float: left;
}

@media screen and (max-width: 900px) {
  #driverPic {
    float: none;
	margin: 0 auto;
  }
}

.topSponsors {
  margin-top: 35vh;
  background-color: #fff;
}

#topSponsorsHeader {
  padding: 16px 0;
}